<div class="container">
  <h1 style="font-family: Ubuntu">Akwaaba</h1>
</div>

<div class="container" *ngIf="errorOne">
  <div class="alert alert-dark">
    <strong>Error </strong> {{errorFromService}}
  </div>
  <hr>
</div>

<div class="container">
  <p>Welcome {{name}} to your homeScreen manage your todos <a routerLink="/todos">here</a></p>
</div>

<div class="container">
  <p>Click here to get some customized todos </p>
  <button (click)="getWelcomeMessageWithParameter()"  class="btn btn-success"> Get customized Message</button>
</div>
<br>
<div class="container">
<H2 style="font-family: Ubuntu,serif">Your message from spring</H2><p>{{messageFromService}}</p>
</div>
<br>
